.TaxPages > input {
    width: 200%;
    height: 100%;
    font-size: x-large;
    text-align: center;
}

.TaxPage  {
    text-align: center;
}

table, th, td {
    border: 1px solid;
    padding: '16px 32px'
  }

/* atomic css     -     BEM                                    */
/*   redText     -      .AppPage > input > first               */
/*   centered     -     .LoginPage > input[type=password]      */
/*   bold     -         .SearchPage > input > .invalid         */
/*   extraWide     -                                           */